.cell {
  align-items: center;
  background: none;
  border: 0;
  color: #3f464f;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 500;
  height: 40px;
  overflow: hidden;
  padding: 8px 14px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cell:focus {
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px #545cff;
  outline: none;
}

input.cell:focus-visible {
  background: #fff;
  box-shadow: inset 0 0 0 2px #545cff, 0px 0px 6px 1px rgb(0, 0, 0, 0.25);
  z-index: 1;
}

.cellValue {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
}

.headerCell,
.footerCell {
  background: #edf1f2;
  border: 0;
  color: #2c2c2e;
  font-weight: 600;
  height: 48px;
  letter-spacing: 0.25px;
  user-select: none;
}

.footerCell {
  background: #fff;
  font-size: 11px;
  font-weight: normal;
}

.footerCell .title {
  color: #777d80;
}

.left {
  justify-content: flex-start;
  text-align: left;
}
.right {
  justify-content: flex-end;
  text-align: right;
}
.center {
  justify-content: center;
  text-align: center;
}

.indexCell {
  align-items: center;
  color: #87898c;
  display: flex;
  font-size: 11px;
  flex: 40 0 auto;
  justify-content: center;
  width: 40px;
}

.headerIndexCell,
.footerIndexCell {
  flex-grow: 0;
  font-weight: 600;
  height: 48px;
  letter-spacing: 0.25px;
  user-select: none;
}

.draggingCell {
  background: #e1e5e6;
  border-radius: 5px;
}
