.cell {
  align-items: center;
  background: none;
  border: 0;
  color: #3f464f;
  display: flex;
  flex-wrap: wrap;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 500;
  height: 40px;
  padding: 8px 14px;
  position: relative;
}

.cell.selected {
  background: rgb(84, 92, 255, 0.15);
  border-radius: 2px;
  user-select: none;
}

.cell.selected.autofilling:not(.focused) {
  background: none;
  border: 1px dashed #545cff;
  padding: 8px 13px;
}

.cell.focused {
  background: none;
  box-shadow: inset 0 0 0 1px #545cff;
  outline: none;
  z-index: 1;
}

input.cell:focus-visible {
  background: #fff;
  box-shadow: inset 0 0 0 2px #545cff, 1px 1px 6px 1px rgb(0, 0, 0, 0.2);
  z-index: 1;
}

.autofill {
  background: #545cff;
  display: none;
  bottom: -2px;
  cursor: crosshair;
  height: 6px;
  position: absolute;
  right: -2px;
  width: 6px;
}

.cell.focused .autofill {
  display: block;
}

.cell.highlighted {
  background-color: #ed95122b;
  border: 2px solid #ed9512;
  border-top: 0;
  border-bottom: 0;
  padding: 8px 12px;
}

.cellValue {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.headerCell,
.footerCell {
  background: #edf1f2;
  border: 0;
  color: #2c2c2e;
  font-weight: 600;
  height: 48px;
  letter-spacing: 0.25px;
  user-select: none;
}

.footerCell {
  background: #fff;
  font-size: 11px;
  font-weight: normal;
}

.footerCell .title {
  color: #777d80;
}

.left {
  justify-content: flex-start;
  text-align: left;
}

.right {
  justify-content: flex-end;
  text-align: right;
}

.center {
  justify-content: center;
  text-align: center;
}

.indexCell {
  color: #87898c;
  font-size: 11px;
}

.headerIndexCell,
.footerIndexCell {
  font-weight: 600;
  height: 48px;
  letter-spacing: 0.25px;
  user-select: none;
}

.draggingCell {
  background: #e1e5e6;
  border-radius: 5px;
}

.fakeFormulaEditor {
  background: #f1f3f4;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  padding: 8px 16px 8px 6px;
}

.fakeFormulaEditor span {
  color: #ed9512;
}
