.globalFilter {
  align-items: center;
  display: flex;
}

.icon {
  height: 1.125rem;
  width: 1.125rem;
}

.searchInput {
  background-color: #edf1f2;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  letter-spacing: 0.25px;
  margin-left: 8px;
  padding: 6px 10px;
  transition: 200ms box-shadow, 200ms background-color;
  width: 250px;
}

.searchInput:focus {
  background-color: #fff;
  outline: none;
  box-shadow: 0 0 0 2px rgba(84, 92, 255, 0.75);
}
