.header {
  background: #edf1f2;
  border-bottom: 1px solid #dbe4e6;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
}

.headerColumn {
  display: flex;
  position: relative;
}

.resizer {
  align-items: center;
  display: flex;
  transition: opacity 100ms;
}

.resizer::after {
  background-color: #bdbdbd;
  content: "";
  display: block;
  height: 30%;
  left: calc(100% - 2px);
  position: absolute;
  width: 2px;
}

.hidden {
  opacity: 0;
}

.buttonWrapper {
  align-items: center;
  background: #edf1f2;
  display: flex;
  padding: 0 64px;
}

.addButton {
  background: #919191;
  border: 0;
  border-radius: 5px;
  color: #f9f9f9;
  cursor: pointer;
  font-size: 26px;
  line-height: 1;
  padding: 1px 6px;
  transition: transform 100ms;
  user-select: none;
}
.addButton:hover {
  background: #787676;
}
.addButton:active {
  transform: translateY(5%);
}
