.header {
  background: #edf1f2;
  position: sticky;
  top: 0;
  z-index: 1;
}

.headerColumn {
  display: flex;
  position: relative;
}

.resizer {
  align-items: center;
  display: flex;
  transition: opacity 100ms;
}

.resizer::after {
  background-color: #bdbdbd;
  content: "";
  display: block;
  height: 30%;
  left: calc(100% - 2px);
  position: absolute;
  width: 2px;
}

.hidden {
  opacity: 0;
}
