.table {
  background: #dbe4e6;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  max-width: 80vw;
  min-width: 80vw !important;
  overflow: auto;
}

.row {
  align-items: center;
}

.row:nth-child(even) {
  background-color: #f4f2f9;
}
.row:nth-child(odd) {
  background-color: #f9f9f9;
}

.selected.row:nth-child(even) {
  background-color: #ddd4f0;
}
.selected.row:nth-child(odd) {
  background-color: #e7e0f9;
}
