.table {
  background: #dbe4e6;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  max-width: 80vw;
  min-width: 80vw !important;
  overflow: auto;
}

.header {
  background: #edf1f2;
  position: sticky;
  top: 0;
}

.row {
  align-items: center;
}

.row:nth-child(even) { background-color: #f4f2f9; }
.row:nth-child(odd) { background-color: #f9f9f9; }

.cell {
  align-items: center;
  color: #3f464f;
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  font-weight: 500;
  height: 40px;
  overflow: hidden;
  padding: 8px 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cellValue {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
}

.left { justify-content: flex-start; }
.right { justify-content: flex-end; }
.center { justify-content: center; }

.headerColumn {
  display: flex;
  position: relative;
}

.resizer {
  align-items: center;
  display: flex;
  transition: opacity 100ms;
}

.resizer::after {
  background-color: #bdbdbd;
  content: "";
  display: block;
  height: 30%;
  left: calc(100% - 2px);
  position: absolute;
  width: 2px;
}

.hidden {
  opacity: 0;
}

.headerCell {
  background: #edf1f2;
  border: 0;
  color: #2c2c2e;
  font-weight: 600;
  height: 48px;
  letter-spacing: 0.25px;
  user-select: none;
}

.indexCell {
  align-items: center;
  color: #87898c;
  display: flex;
  font-size: 11px;
  flex: 40 0 auto;
  justify-content: center;
  width: 40px
}

div.headerIndexCell {
  flex-grow: 0;
}

.draggingCell {
  background: #e1e5e6;
  border-radius: 5px;
}