html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  align-items: center;
  background: linear-gradient(#c0a4f9, #c8f1fd);
  padding: 4rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
